* {
  margin : 0 ;
  padding : 0 ;
}
#root {
  background-color: #F28705;
}
a{
  color:#6503A6;
  text-decoration: none;
  font-family: 'Bowlby One SC', cursive;;
}
.menu{
  font-family: 'Bowlby One SC', cursive;;
  color:#F28705;
  margin:7%;
  justify-content: center;
  display: flex;
}
.btnBreakAllDay{
  font-family: 'Indie Flower', cursive;
}
.style-order {
	margin: 40px auto;
	padding: 20px;
	max-width: 260px;
	border: 6px solid #472478;
	background: #84e;
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,.35);
}